{% extends 'base.html.twig' %}

{% block title %}Edit UserGuard{% endblock %}

{% block body %}
    <h1>Edit UserGuard</h1>

    {{ include('user_guard/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_guard_index') }}">back to list</a>

    {{ include('user_guard/_delete_form.html.twig') }}
{% endblock %}
